In [2]:
import matplotlib.pyplot as plt
%matplotlib notebook

#pull in dataset
import pandas as pd
data=pd.read_csv('temperatures.csv')

In [23]:
#month_data=data[data['month']==2]
month_select=(data['month']==2)
month_data=data[month_select]
year_select=(month_data['year']== 2001)
month_year_data=month_data[year_select]
day_select=month_year_data['day']==12
day_data=month_year_data[day_select]
day_data

       year  month  day  tmin  tmax
19401  2001      2   12  20.0  37.0

In [36]:
select=(data['year']==2001) & (data['month']==3) & (data['day']==7)
day_data2=data[select]
day_data2

       year  month  day  tmin  tmax
19424  2001      3    7  32.0  48.0

In [42]:
day_data2['year'].values[0]

2001

In [43]:
day_data2.values

array([[ 2001.,     3.,     7.,    32.,    48.]])